* {
  font-family: "Montserrat", Sans-serif;
  box-sizing: border-box;
  font-size: 15px;
}

.bgcolornavyblue {
  background-color: #131e43!important;
}

.colornavyblue {
  color: #131e43 !important;
}

ul {
  list-style: none;

}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  text-transform: uppercase;
  font-weight: 700;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-left: 0px !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #131e43;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer{
  color: white;
  padding: 40px;
  font-family: inherit;

}